body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
  }
  
footer {
    text-align: center;
    padding: 15px;
    background-color: #7f1208;
    color: white;
    margin-top: 20px;
    position: relative;
  }