/* Main Container Styles */
#restaurant-signup-section {
  margin: 50px auto 20px auto; /* Adds space from header and footer */
  padding: 40px;
  width: 100%;
  max-width: 450px; /* Larger width for the signup form */
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  position: relative;
}

/* Header Styles */
#restaurant-signup-section h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form Styles */
#restaurant-signup-section form div {
  margin-bottom: 15px;
}

#restaurant-signup-section label {
  font-size: 16px;
}

#restaurant-signup-section input {
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

#restaurant-signup-section input:focus {
  border-color: #7f1208; /* Red border on focus */
  outline: none; /* Removes the default outline */
}

/* Button Styles */
#restaurant-signup-section button {
  width: 100%;
  padding: 20px;
  background-color: #7f1208;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#restaurant-signup-section button:hover {
  background-color: #d4b507;
}

/* Header Placeholder */
#header {
  background-color: #7f1208;
  color: #fff;
  padding: 10px 20px; /* Increased padding for a small but noticeable header */
  text-align: center;
  font-size: 14px; /* Slightly larger font size for readability */
  font-weight: bold;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Footer Placeholder */
#footer {
  background-color: #7f1208;
  color: #fff;
  text-align: center;
  padding: 5px 20px; /* Reduced padding for a smaller footer */
  font-size: 14px; /* Slightly smaller font size for footer */
  margin-top: auto; /* Push footer to the bottom */
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
